/* @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
